input:disabled {
    color: #ccc;
    font-style: italic;
}

.home {
    margin: 30px auto;
    width: 50%;
}

.copy-url {
    margin-left: 10px;
    cursor: pointer;
}

.game {
    text-align: center;
}

.board {
    width: calc(90vmin);
    height: calc(90vmin);
    margin: auto;
    display: inline-block;
}

@media (min-aspect-ratio: 12/10) {
    .board {
        width: calc(100vmin);
        height: calc(100vmin);
    }

    .meta {
        min-width: calc(10vmin);
        margin-left: 10px;
        display: inline-block;
        text-align: left;
    }
}
